body{
    max-height: 100vh; 
    background: -webkit-linear-gradient(top,#17223b,#263859);
}

a{
    font-size: 15px;
    text-decoration: none;
    color: #ddd;
}
a:hover{
    text-decoration: underline;
    color: #222;
}


#logsec{
    height: auto;
    width: 100%;
    background: -webkit-linear-gradient(top,#aaa,#263859);
    background-attachment: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    color: white;
}

.loginbox{
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding: 120px 10px;
    background: -webkit-linear-gradient(top,#aaa,#263859);
    box-sizing: border-box;
    animation: sang 5s infinite;
}

@keyframes sang{
    0%{
        box-shadow: 2px 2px 8px red;
    }
    50%{
        box-shadow: 2px 2px 8px rgb(1, 60, 255);
    }
    100%{
        box-shadow: 2px 2px 8px red;
    }

}

.loginbox h6{
    padding: 5px 0px;
    margin: 2px 0px;
}

.loginbox input[type='text']{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
}

.loginbox input[type='password']{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
}

.loginbox input[type='submit']{
    margin: 5px;
    display: block;
    height: 30px;
    margin-left: 0px;
    color: white;
    font-weight: 900;
    background: #17223b;
    border-radius: 10px;
    border: none;
    width:100px;
}

.loginbox input[type='submit']:hover{
    background: black;

}


#main-foot{
    height: 50px;
}



@media (min-width: 500px){

    #logsec{
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}


    .loginbox{
    width: 400px;
    background: #ff6768;
    height: auto;
    font-size: 30px;
    padding: 60px 20px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 5px 100px;
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px red;
    animation: sang 5s infinite;
}


}